/* tab css */
#tpg-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background: rgba(0, 0, 0, .7);
    top: 0;
}

#tpg-loading span.tpg-loading {
    display: block;
    top: 50%;
    position: fixed;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

/* sorting */
.tpg-form-item-wrap {
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 500px;
}

.tpg-form-item-wrap:after {
    clear: both;
    display: block;
    content: "";
}

.tpg-form-item-wrap label {
    float: left;
    width: 30%;
    font-weight: bold;
    min-width: 140px;
}

.tpg-form-item {
    width: 70%;
    float: right;
}

ul#order-target {
    max-width: 500px;
}

ul#order-target li {
    padding: 2px 0px;
    margin: 4px 0px;
    border: 1px solid #dddddd;
    cursor: move;
    -moz-border-radius: 6px;
    background-color: #f9f9f9;
}

ul#order-target li span {
    display: block;
    padding: 5px 10px;
    color: #555;
    font-size: 13px;
}

#order-terms #tto_sortable li:nth-child(2n+1) > .item {
    background-color: #fff !important;
}

ul#order-target li.placeholder {
    border: dashed 2px #ccc;
    height: 30px;
    background-color: #fff;
}

@media all and (max-width: 767px) {
    .style-field-tpg-container {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.rt-loading {
    background: url('../images/loading.gif') no-repeat center center;
    padding: 11px;
}

body.post-type-rttpg div#misc-publishing-actions,
body.post-type-rttpg div#minor-publishing-actions {
    display: none;
}

/* fix */
body .select2-results__option {
    padding: 6px;
}

.tpg-hidden {
    display: none;
}

ul.rt-tab-nav {
    clear: both;
    margin-top: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    margin-bottom: -4px;
}

ul.rt-tab-nav li {
    cursor: pointer;
    display: inline-block;
    margin-bottom: -1px;
}

ul.rt-tab-nav li:nth-child(4) {
    margin-right: 3px;
}

ul.rt-tab-nav li:focus {
    outline: none;
}

ul.rt-tab-nav li a {
    position: relative;
    font-size: 15px;
    color: #ffffff;
    background-color: #ffffff;
    padding: 10px 25px;
    border-radius: 4px 4px 0 0;
    display: inline-block;
    text-decoration: none;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

ul.rt-tab-nav li a:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #5d3dfd;
    border-radius: 4px 4px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

ul.rt-tab-nav li.active a,
ul.rt-tab-nav li.active a:after {
    color: #5d3dfd;
}

ul.rt-tab-nav li.active a:after {
    height: 10%;
}

ul.rt-tab-nav li:last-child a {
    border-right: 0;
}

ul.rt-tab-nav li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rt-tab-content {
    display: none;
    border: 1px solid #e7e7e7;
    background: #fff;
}

#settings-tabs .rt-tab-content {
    background: #fff;
    padding: 15px;
}

body .meta-box-sortables .field-holder select {
    width: 100%;
}

.rt-tab-content .field-holder {
    margin-bottom: 15px;
    padding-top: 10px;
}

.rt-tab-content .field-holder:first-child {
    border-top: none;
    padding-top: 15px;
}

.field-holder .field .full {
    width: 100%;
}

.rt-tpg-filter.taxonomy {
    background: #5d3dfd3b;
}

.term-filter-item-container > .field-holder.term-filter-item-operator {
    border-top: none;
}

.term-filter-item-container {
    border: 1px solid #5ba2d2;
}

.term-filter-item-container {
    border-top: none;
}

.term-filter-item-container:first-child {
    border-top: 1px solid #5ba2d2;
}

.rt-tab-content .field-holder,
.rt-tpg-filter.taxonomy .rt-tpg-filter-item .field-holder:first-child,
.rt-tpg-filter-container > .field-holder:first-child {
    border-top: 1px solid #e7e7e7;
}

.rt-tpg-filter.taxonomy .rt-tpg-filter-item .field-holder:first-child,
.rt-tpg-filter-container > .field-holder:first-child,
div#sc-post-post-source > .field-holder > .field > .field-holder:first-child {
    padding-top: 10px;
}

.rt-tpg-filter-container .field-holder,
.rt-tpg-filter-holder > h3 {
    border-bottom: 1px solid #e7e7e7;
}

.rt-tpg-filter-holder > h3 {
    background: #5d3dfd;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.rt-tpg-filter.taxonomy .field-holder,
.rt-tpg-filter.order > .rt-tpg-filter-item > .field-holder > .field > .field-holder,
.rt-tpg-filter-holder .rt-tpg-filter:last-child .rt-tpg-filter-item > .field-holder {
    border-bottom: none;
}

.rt-tab-content .field-holder .field-label {
    float: left;
    width: 200px;
}

.rt-tab-content .field-holder .field {
    float: right;
    width: calc(100% - 200px);
}

.rt-tab-content .field-holder .field-label label {
    font-weight: bold;
}

.rt-tab-content .field-holder.full > .field-label{
    width: 100%;
    display: block;
    max-width: 100%;
    margin-bottom: 15px;
}
.rt-tab-content .field-holder.full .field {
    width: 100%;
}

.rt-tab-content .field-holder:after {
    clear: both;
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
}

.rt-setting-holder .field-holder {
    padding: 10px;
}

.rt-setting-holder .field-holder .field-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.field-holder .checkbox-group > label {
    margin-right: 15px;
}

.field-holder .description span {
    display: block;
    margin: 5px 0;
}

.field-holder span.rt-loading {
    position: relative;
    width: auto;
    display: inline-block;
}

.rt-licensing-btn.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.rt-licence-msg {
    color: red;
    padding: 5px 0;
}

.rt-licence-msg.success {
    color: green;
    padding: 5px 0;
}

.field-holder .description span:last-child {
    margin-bottom: 0;
}

.checkbox-group.vertical > label,
.radio-group.vertical > label {
    display: block;
    margin-bottom: 5px;
}

input.large-text.code.rt-code-sc {
    color: #fff;
    background: #5d3dfd;
    font-weight: bold;
}

.rt-textarea {
    width: 100%;
    height: 150px;
}

.rt-tab-container .rt-script-wrapper textarea {
    border: 1px solid #dfdfdf;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    max-width: 800px;
    height: 150px;
    position: relative;
}
/*----- Column -------*/

.rt-3-column {
    display: inline-block;
    width: 193px;
}

.rt-tab-content .field-holder.rt-3-column .field-label label {
    float: none;
    font-weight: 400;
}

.rt-tab-content .field-holder.rt-3-column .field {
    float: none;
}

div#column_holder {
    position: relative;
    padding-left: 210px;
    width: 194px;
}

div#column_holder:before {
    content: 'Column';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.4;
}

div#column_holder .field-label,
div#tpg_mobile_column_holder .field-label,
div#tpg_tab_column_holder .field-label,
div#column_holder .field,
div#tpg_mobile_column_holder .field,
div#tpg_tab_column_holder .field {
    display: block;
    width: 100%;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    div#column_holder {
        padding-left: 160px;
        width: 165px;
    }
    div#tpg_mobile_column_holder {
        padding-left: 160px;
        border-top: none;
    }
}

/*----- Button -------*/

div#button_bg_color_holder {
    position: relative;
    padding-left: 210px;
    width: 194px;
}

div#button_text_bg_color_holder,
div#button_border_color_holder {
    padding-left: 210px;
}

div#button_border_color_holder + div#button_text_bg_color_holder {
    padding-left: 10px;
}

div#button_bg_color_holder:before {
    content: 'Button Color';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.4;
}

.rt-tab-content .field-holder#button_bg_color_holder .field-label,
.rt-tab-content .field-holder#button_hover_bg_color_holder .field-label,
.rt-tab-content .field-holder#button_border_color_holder .field-label,
.rt-tab-content .field-holder#button_text_bg_color_holder .field-label,
.rt-tab-content .field-holder#button_hover_text_color_holder .field-label,
.rt-tab-content .field-holder#button_active_bg_color_holder .field-label {
    width: 100%;
    max-width: none;
}

.rt-tab-content .field-holder#button_border_color_holder,
.rt-tab-content .field-holder#button_text_bg_color_holder,
.rt-tab-content .field-holder#button_hover_text_color_holder {
    border-top: none;
}

#button_border_color_holder,
#button_hover_text_color_holder,
#button_text_bg_color_holder,
#button_bg_color_holder,
#button_active_bg_color_holder,
#button_hover_bg_color_holder {
    position: relative;
    height: 60px;
}

#button_border_color_holder .wp-picker-container,
#button_hover_text_color_holder .wp-picker-container,
#button_text_bg_color_holder .wp-picker-container,
#button_bg_color_holder .wp-picker-container,
#button_active_bg_color_holder .wp-picker-container,
#button_hover_bg_color_holder .wp-picker-container {
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 10;
}

.rt-tab-content .field-holder .wp-picker-container.wp-picker-active {
    z-index: 99 !important;
}

#button_border_color_holder .wp-picker-container,
#button_text_bg_color_holder .wp-picker-container,
#button_bg_color_holder .wp-picker-container {
    left: 210px;
}

#button_border_color_holder + #button_text_bg_color_holder .wp-picker-container {
    left: 10px;
}

@media all and (min-width: 1600px) {
    div#button_text_bg_color_holder,
    div#button_border_color_holder {
        padding-left: 15px;
    }
    #button_border_color_holder .wp-picker-container,
    #button_text_bg_color_holder .wp-picker-container {
        left: 15px;
    }
    .rt-tab-content .field-holder#button_border_color_holder,
    .rt-tab-content .field-holder#button_text_bg_color_holder,
    .rt-tab-content .field-holder#button_hover_text_color_holder {
        border-top: 1px solid #e1e1e1;
    }
    div#button_border_color_holder + div,
    div#button_border_color_holder {
        width: 150px;
    }
}

@media all and (max-width: 1199px) {
    .rt-tab-content .field-holder .field-label {
        width: 150px;
    }
    .rt-tab-content .field-holder .field {
        width: calc(100% - 150px);
    }
    div#button_hover_text_color_holder,
    div#button_border_color_holder,
    div#button_bg_color_holder {
        padding-left: 160px;
    }
    div#button_border_color_holder,
    div#button_text_bg_color_holder {
        padding-left: 10px;
    }
    #button_border_color_holder .wp-picker-container,
    #button_text_bg_color_holder .wp-picker-container {
        left: 10px;
    }
    div#button_hover_text_color_holder .wp-picker-container,
    div#button_active_bg_color_holder .wp-picker-container,
    #button_bg_color_holder .wp-picker-container {
        left: 160px;
    }
    .rt-3-column {
        width: 165px;
    }
    div#button_bg_color_holder {
        width: 165px;
    }
    div#button_active_bg_color_holder {
        padding-left: 160px;
        border-top: none;
    }
    div#button_border_color_holder + div#button_text_bg_color_holder {
        padding-left: 160px;
    }
    #button_border_color_holder + div#button_text_bg_color_holder .wp-picker-container {
        left: 160px;
    }
    div#button_border_color_holder + div#button_text_bg_color_holder + div#button_hover_text_color_holder {
        padding-left: 10px;
    }
    #button_border_color_holder + div#button_text_bg_color_holder + div#button_hover_text_color_holder .wp-picker-container {
        left: 10px;
    }
}

@media all and (max-width: 991px) {
    div#button_active_bg_color_holder {
        padding-left: 10px;
    }
    div#button_active_bg_color_holder .wp-picker-container {
        left: 10px;
    }
    .rt-3-column {
        width: 160px !important;
    }
    div#button_border_color_holder,
    div#button_text_bg_color_holder {
        padding-left: 160px;
    }
    div#button_border_color_holder .wp-picker-container,
    div#button_text_bg_color_holder .wp-picker-container {
        left: 160px;
    }
    div#button_border_color_holder + div#button_text_bg_color_holder {
        padding-left: 10px;
    }
    #button_border_color_holder + div#button_text_bg_color_holder .wp-picker-container {
        left: 10px;
    }
}

/* settings page */

.rt-help {
    background: #fff;
    padding: 10px 20px;
}

.rt-response {
    padding: 5px;
}

.rt-response.updated,
.rt-response.error {
    padding-top: 5px;
    padding-bottom: 5px;
}

.rt-response.loading {
    padding: 0;
    position: absolute;
    width: 97%;
    height: 95%;
    z-index: 99999999;
    background: rgba(255, 255, 255, 0.9);
}

.rt-response.loading span {
    color: #000;
    top: 45%;
    text-align: center;
    display: block;
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
}

.select2-results__option[aria-selected=true] {
    background: #f3f3f3;
}

/* date range */

.date-range-container .date-range-content {
    display: inline-block;
    margin-right: 25px;
}

.date-range-container .date-range-content > span {
    display: inline-block;
    font-weight: bold;
}

/* col */
.field-inner.col-2 {
    width: 50%;
    float: left;
}

.field-inner.col-3 {
    width: 33.333333%;
    float: left;
}

.field-inner.col-4 {
    width: 25%;
    float: left;
}

.field-inner .field-inner-container {
    padding: 0 5px;
    margin-bottom: 15px;
}

.field-inner-container span.label {
    display: block;
    margin-bottom: 5px;
}

.field-inner-container .wp-color-result {
    margin: 0;
}

.field-inner-container .wp-picker-container,
.field-inner-container .wp-picker-container:active {
    position: relative;
}

.field-inner-container .wp-picker-holder {
    position: absolute;
    z-index: 2;
}

.rt-image-preview {
    width: 150px;
    height: 150px;
    display: inline-block;
    background: #f7f7f7;
    position: relative;
    padding: 10px;
}

/* image size field */
.rt-image-size-holder:after {
    display: block;
    clear: both;
    content: "";
}

.rt-image-size-holder .rt-image-size {
    width: 33.3333%;
    float: left;
}

.rt-image-size-holder .rt-image-size input {
    max-width: 100px;
    display: block;
}

span.dashicons.dashicons-plus-alt.rtAddImage, span.dashicons.dashicons-trash.rtRemoveImage {
    position: absolute;
    cursor: pointer;
}

span.dashicons.dashicons-trash.rtRemoveImage {
    color: red;
    left: -10px;
    top: -10px;
}

span.dashicons.dashicons-plus-alt.rtAddImage {
    right: -10px;
    top: -10px;
    color: green;
}

.pro-field .field-label {
    position: relative;
}

.pro-field .rttpg-tooltip {
    display: inline-block;
    color: red;
    line-height: 1.3;
    font-weight: 600;
    font-size: 14px;
    margin-left: 3px;
}

.pro-field .rttpg-tooltip .rttpg-tooltip-text {
    visibility: hidden;
    min-width: 80px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    line-height: 1.3;
    font-size: 14px;
}

.pro-field .field-label:hover .rttpg-tooltip .rttpg-tooltip-text {
    visibility: visible;
}

.rt-document-box {
    background-color: #ffffff;
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 30px 20px;
    display: flex;
}

.rt-document-box ol {
    margin-left: 1em;
}

.rt-document-box + .rt-document-box {
    margin-top: 30px;
}

.rt-document-box .rt-box-icon {
    height: 30px;
    width: 30px;
    background-color: #ecf1ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
}

.rt-document-box .rt-box-icon i {
    font-size: 20px;
    color: #5d3dfd;
}

.rt-document-box .rt-box-content {
    flex: 1;
}

.rt-document-box .rt-box-content .rt-box-title {
    margin: 0 0 12px 0;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}

.rt-document-box .rt-box-content p {
    font-size: 14px;
    color: #646464;
    margin: 0 0 25px 0;
}

.rt-update-pro-btn-wrap .rt-update-pro-btn:hover {
    background-color: #4e35cc;
    text-decoration: none;
    color: #ffffff;
}

.rt-alert {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    display: none;
    text-align: center;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

.rt-alert .rt-box-icon {
    margin: auto;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
}

.rt-alert .rt-alert-close {
    position: absolute;
    top: 0;
    right: 0;
    background: #b30202;
    color: white;
    line-height: 1;
    padding: 2px 9px 8px;
    font-size: 18px;
    text-decoration: none;
}

body .rt-admin-btn {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #5d3dfd;
    text-decoration: none;
    padding: 9px 18px;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    line-height: 1.4;
    transition: all 0.3s ease-in-out;
    height: auto;
    border: 2px solid #5d3dfd;
}

body .rt-admin-btn:hover {
    background-color: #4e35cc;
    color: #ffffff;
    text-decoration: none;
}
.field-holder.pro-field .wp-picker-container {
    position: relative;
}
.field-holder.pro-field .wp-picker-container:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    content: "";
    cursor: pointer;
}

#custom_css_holder .description {
    color: red;
}

#rt-tpg-settings-form .rtSaveButton {
    background-color: #5d3dfd;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
}

/* ============== MetaBox START ============== */
.post-type-rttpg #misc-publishing-actions,
.post-type-rttpg #submitdiv > .handlediv,
.post-type-rttpg #submitdiv h2 {
    display: none;
}

.post-type-rttpg #minor-publishing-actions {
    padding: 0;
}

#rt_plugin_sc_pro_information button.handlediv,
#rt_plugin_sc_pro_information h2.hndle {
    display: none;
}

#rttpg_meta h2.hndle {
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

#rttpg_meta,
#rt_plugin_sc_pro_information {
    background: transparent;
    border: 0;
}

#rttpg_meta .inside,
#rt_plugin_sc_pro_information .inside {
    padding: 0;
    margin: 0;
}

/* ============== MetaBox END ================ */

/* media */

@media (max-width: 1200px) {
    .field-inner.col-4 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .rt-tab-content .field-holder .field-label,
    .rt-tab-content .field-holder .field {
        float: none;
        display: block;
        width: auto;
        max-width: inherit;
    }

    .rt-setting-holder .field-holder {
        float: none;
        width: auto;
    }
}

@media (max-width: 600px) {
    .field-inner.col-4 {
        float: none;
        width: auto;
    }
}

@media (max-width: 424px) {
    .rt-image-size-holder .rt-image-size {
        display: block;
        float: none;
        width: inherit;
    }
}