/*************************
## Elementor Css - Free
**************************/

.tpg-even.grid-behaviour {
    align-items: flex-start;
}

.grid-layout6 .tpg-even.grid-behaviour {
    align-items: inherit;
}

.tpg-full-height,
.grid-layout2.tpg-even {
    align-items: inherit;
}

.tpg-el-main-wrapper .tpg-post-holder {
    height: 100%;
}

.list-layout1-main .tpg-even .rt-holder,
.grid_hover-layout9-main .tpg-even .rt-holder,
.grid_hover-layout9-2-main .tpg-even .rt-holder {
    display: block;
}

.rt-el-post-meta span.author {
    margin-bottom: 2px;
}

.rt-tpg-container .rt-detail .tpg-excerpt {
    margin-top: -5px;
}

.tpg-el-main-wrapper .slider_layout_wrapper .tpg-post-holder {
    margin-top: 1px;
}

.tpg-el-main-wrapper .slider_layout_wrapper .tpg-post-holder,
.tpg-el-main-wrapper .grid-layout5 .tpg-post-holder,
.tpg-el-main-wrapper .grid-layout6 .tpg-post-holder {
    height: auto;
}

.rt-tpg-container .rt-el-content-wrapper {
    transition: background-color 0.4s ease-in-out;
}

/*Only Transition*/

.tpg-separate-category .categories-links,
.tpg-separate-category .categories-links i,
.rt-tpg-social-share a i,
.rt-tpg-container .tpg-post-holder .read-more a,
.tpg-el-main-wrapper .tpg-el-image-wrap img,
.tpg-el-main-wrapper .post-meta-tags span,
.tpg-el-main-wrapper .post-meta-tags a,
.tpg-el-main-wrapper .rt-holder:hover .post-meta-tags i,
.tpg-el-main-wrapper .post-meta-tags img,
.tpg-el-main-wrapper .tpg-el-excerpt,
.tpg-el-main-wrapper .tpg-el-excerpt *,
.tpg-el-main-wrapper .tpg-el-image-wrap .overlay,
.tpg-el-main-wrapper .tpg-post-holder {
    transition: 0.4s ease-in-out;
}

.tpg-el-main-wrapper .rt-content-loader [class*='rt-col'] {
    padding-bottom: 30px;
    margin-top: 0;
}

.tpg-el-main-wrapper .entry-title a {
    color: inherit !important ;
}

.tpg-el-main-wrapper .entry-title a:focus {
    box-shadow: none;
    border: none;
}

.tpg-el-main-wrapper .entry-title a:hover {
    color: var(--tpg-primary-color, #0d6efd);
}

/*Section title style */

.tpg-widget-heading-wrapper .tpg-widget-heading a {
    color: inherit;
}

.section-title-align-right .tpg-widget-heading-wrapper.heading-style1 .tpg-widget-heading-line.line-left,
.section-title-align-center .tpg-widget-heading-wrapper.heading-style1 .tpg-widget-heading-line.line-left {
    display: block;
    margin-left: 0;
    margin-right: 15px;
}

.section-title-align-center .tpg-widget-heading-wrapper.heading-style1 .tpg-widget-heading::before {
    display: none;
}

.section-title-align-center .tpg-widget-heading-wrapper .tpg-widget-heading {
    margin-right: 0 !important;
}

.section-title-align-right .tpg-widget-heading-wrapper.heading-style1 .tpg-widget-heading-line.line-right {
    display: none;
}

.section-title-align-right .tpg-widget-heading-wrapper.heading-style1 .tpg-widget-heading {
    padding-left: 15px;
    padding-right: 0;
}

.section-title-align-right .tpg-widget-heading-wrapper.heading-style1 .tpg-widget-heading::before {
    right: auto;
    left: 0;
}

.section-title-align-left .tpg-widget-heading-wrapper.heading-style2 .tpg-widget-heading::before {
    display: none;
}

.section-title-align-left .tpg-widget-heading-wrapper.heading-default,
.section-title-align-left .tpg-widget-heading-wrapper.heading-style2,
.section-title-align-left .tpg-widget-heading-wrapper.heading-style3 {
    justify-content: flex-start;
}

.section-title-align-center .tpg-widget-heading-wrapper.heading-default,
.section-title-align-center .tpg-widget-heading-wrapper.heading-style2,
.section-title-align-center .tpg-widget-heading-wrapper.heading-style3 {
    justify-content: center;
}

.section-title-align-right .tpg-widget-heading-wrapper.heading-default,
.section-title-align-right .tpg-widget-heading-wrapper.heading-style2,
.section-title-align-right .tpg-widget-heading-wrapper.heading-style3 {
    justify-content: flex-end;
}

.section-title-align-right .tpg-widget-heading-wrapper.heading-style2 .tpg-widget-heading::after {
    display: none;
}


/*Post title global style */
.title-one-line .entry-title,
.title-two-line .entry-title,
.title-three-line .entry-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.title-one-line .entry-title {
    -webkit-line-clamp: 1;
}

.title-two-line .entry-title {
    -webkit-line-clamp: 2;
}

.title-three-line .entry-title {
    -webkit-line-clamp: 3;
}

.rt-tpg-container .rt-el-post-meta {
    margin-bottom: 13px;
}

.rt-tpg-container .rt-el-post-meta i {
    margin-right: 5px;
}

.rt-tpg-container .offset-right .rt-el-post-meta {
    margin-top: -6px;
}

/*Post Image Style */
.tpg-el-main-wrapper .tpg-el-image-wrap img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .tpg-el-main-wrapper .tpg-el-image-wrap img {
        width: 100% !important;
    }
}

.tpg-el-main-wrapper .tpg-el-image-wrap a.tpg-post-link {
    width: 100%;
    height: 100%;
}

/*.tpg-el-main-wrapper.slider-layout-main .tpg-el-image-wrap a.tpg-post-link {*/
/*    pointer-events: none;*/
/*}*/

.tpg-el-main-wrapper .tpg-el-image-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.tpg-el-main-wrapper .rt-grid-hover-item .tpg-el-image-wrap .overlay.grid-hover-content {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

.tpg-el-main-wrapper .tpg-post-holder .tpg-el-image-wrap .overlay.show-on-hover,
.tpg-el-main-wrapper .tpg-post-holder:hover .tpg-el-image-wrap .overlay.hide-on-hover {
    opacity: 0 !important;
}

.tpg-el-main-wrapper .tpg-post-holder:hover .tpg-el-image-wrap .overlay.show-on-hover {
    opacity: 1 !important;
}

.tpg-el-main-wrapper .post-meta-tags span {
    display: inline-block;
    padding-right: 8px;
}

.tpg-el-main-wrapper .post-meta-tags span img + span.author-prefix {
    padding-left: 3px;
}

.tpg-el-main-wrapper .post-meta-tags span.author-prefix {
    padding-right: 5px;
}

.tpg-el-main-wrapper .post-meta-tags span img {
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    width: auto !important;
    max-width: 25px;
    height: 25px !important;
    margin-top: -2%;
}

.post-meta-tags span.separator:nth-last-of-type(1) {
    display: none;
}

/*Read more icon*/

body .readmore-btn-only-text .rt-tpg-container .tpg-post-holder .read-more a {
    border: none !important;
    padding: 0 !important;
    background: none !important;
}

.rt-tpg-container .tpg-post-holder .read-more a i {
    transition: margin 0.4s ease-in-out;
}

.rt-tpg-container .tpg-post-holder .read-more a i.left-icon {
    margin-right: 5px;
}

.rt-tpg-container .tpg-post-holder .read-more a i.right-icon {
    margin-left: 5px;
}

/*Disable Border */

.tpg-el-box-border-disable .rt-tpg-container .rt-holder {
    box-shadow: none !important;
    border: none;
}

/*Frontend Filter Style */

.tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
    display: flex;
    justify-content: space-between;
}

.tpg-filter-alignment-left .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
    align-items: flex-start;
}

.tpg-filter-alignment-center .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
    align-items: center;
}

.tpg-filter-alignment-right .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
    align-items: flex-end;
}

.tpg-filter-h-alignment-left .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
    justify-content: flex-start;
}

.tpg-filter-h-alignment-center .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
    justify-content: center;
}

.tpg-filter-h-alignment-right .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
    justify-content: flex-end;
}

.tpg-filter-h-alignment-space-between .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
    justify-content: space-between;
}

.rt-filter-item-wrap.rt-search-filter-wrap input.rt-search-input {
    min-width: 202px;
}

.tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap .filter-left-wrapper {
    margin-right: 15px;
}

@media (max-width: 1023px) {

    .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap .filter-left-wrapper {
        text-align: center;
    }

    .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap .filter-right-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap .filter-right-wrapper .rt-order-by-action {
        order: -1;
    }
}

@media (max-width: 991px) {
    .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap .filter-left-wrapper {
        margin-right: 0;
    }

    .tpg-filter-type-dropdown .rt-filter-wrap .filter-left-wrapper {
        display: flex;
        justify-content: center;
    }

    .tpg-el-main-wrapper .rt-filter-item-wrap.rt-tax-filter.rt-filter-dropdown-wrap {
        margin-bottom: 4px;
    }

    .tpg-el-main-wrapper .rt-layout-filter-container .rt-filter-wrap {
        flex-direction: column;
    }
}

.rt-layout-filter-container .rt-filter-wrap .rt-filter-item-wrap {
    min-height: 38px;
}

/*Post element ordering*/

.tpg-el-main-wrapper .rt-holder .rt-el-content-wrapper {
    display: flex;
    flex-direction: column;
}

.tpg-el-main-wrapper .rt-holder .rt-el-content-wrapper-flex {
    display: flex;
    flex-direction: row;
}

.title_position_above_image .tpg-el-main-wrapper .rt-holder .rt-el-content-wrapper .tpg-el-image-wrap {
    margin: 0 -15px 15px;
}

.rt-tpg-container .rt-holder .rt-detail .entry-title-wrapper .entry-title {
    margin-bottom: 0;
    transition: 0.4s;
}


.rt-tpg-container .rt-holder .rt-detail .entry-title-wrapper .tpg-separate-category {
    margin-bottom: 5px;
}

.tpg-el-main-wrapper .rt-holder .tpg-el-excerpt {
    order: 5;
}

.tpg-el-main-wrapper .rt-holder .rt-tpg-social-share {
    order: 10;
}

.tpg-el-main-wrapper .rt-tpg-social-share a {
    margin-right: 10px;
}

.tpg-el-main-wrapper .rt-holder .post-footer {
    order: 11;
    margin-bottom: 15px;
}


/*Title Position */
.title_position_above_image .tpg-el-main-wrapper .rt-holder .entry-title-wrapper {
    order: -5;
}

/*Title Above Image */
.title_position_below_image .tpg-el-main-wrapper .rt-holder .tpg-el-image-wrap {
    order: -8;
}

.title_position_below_image .tpg-el-main-wrapper .rt-holder .entry-title-wrapper {
    order: 2;
}


/*Meta Position */
.title_position_above_image.meta_position_above_title .tpg-el-main-wrapper .rt-holder .rt-el-post-meta {
    order: -6;
}

.title_position_above_image.meta_position_below_title .tpg-el-main-wrapper .rt-holder .rt-el-post-meta {
    order: -4;
}

.title_position_below_image.meta_position_above_title .tpg-el-main-wrapper .rt-holder .rt-el-post-meta {
    order: 1;
}

.title_position_below_image.meta_position_above_title .tpg-el-main-wrapper .rt-holder .rt-el-post-meta {
    order: 1;
}

.title_position_below_image.meta_position_below_title .tpg-el-main-wrapper .rt-holder .rt-el-post-meta {
    order: 3;
}

.meta_position_below_excerpt .tpg-el-main-wrapper .rt-holder .rt-el-post-meta {
    order: 6;
}

.meta_position_above_excerpt .tpg-el-main-wrapper .rt-holder .rt-el-post-meta {
    order: 4;
}


.title_position_default.meta_position_above_title .tpg-el-main-wrapper .rt-holder .tpg-el-image-wrap {
    order: -2;
}

.title_position_default.meta_position_above_title .tpg-el-main-wrapper .rt-holder .rt-el-post-meta {
    order: -1;
}


/*********************************
# Layout Common
**********************************/

.title_hover_border_enable .rt-tpg-container .entry-title-wrapper .entry-title a {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--tpg-primary-color, #0d6efd)), color-stop(98%, var(--tpg-primary-color, #0d6efd)));
    background: linear-gradient(to bottom, var(--tpg-primary-color, #0d6efd) 0%, var(--tpg-primary-color, #0d6efd) 98%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
}

.title_hover_border_enable .rt-tpg-container .entry-title-wrapper .entry-title:hover a {
    background-size: 100% 2px;
}

.title_hover_border_disable .rt-tpg-container .entry-title-wrapper .entry-title a {
    background: none !important;
}

.rt-tpg-container .post-right-content {
    display: flex;
    flex-direction: column;
}

.rt-tpg-container .list-layout-wrapper .post-right-content {
    flex: 1;
}

.tpg-separate-category.style1 .rt-separator {
    margin-right: 3px;
}

.tpg-category-position-default .grid-layout4 .rt-detail .entry-title-wrapper .tpg-separate-category {
    display: none;
}

.tpg-is-author-icon-hide .post-meta-tags span.author i,
.tpg-is-author-icon-hide .post-meta-tags span.author img {
    display: none;
}

/*Thumbnail Gallery Icon*/

.rt-tpg-container .rt-holder .rt-img-holder .tpg-zoom {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    visibility: hidden;
    opacity: 0;
}

.rt-tpg-container .rt-holder:hover .rt-img-holder .tpg-zoom {
    top: 50%;
    visibility: visible;
    opacity: 1;
}

.rt-tpg-container .rt-holder .rt-img-holder .tpg-zoom i {
    display: inline-block;
    border: 0 solid;
    border-radius: 50%;
    line-height: 40px;
    font-size: 20px;
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .8);
    margin-right: 0;
}

/*End Thumbnail Gallery Icon*/

@media (min-width: 992px) {
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-12:nth-child(even) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-6:nth-child(4n+3) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-6:nth-child(4n+4) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-4:nth-child(6n+4) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-4:nth-child(6n+5) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-4:nth-child(6n+6) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-3:nth-child(8n+5) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-3:nth-child(8n+6) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-3:nth-child(8n+7) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-md-3:nth-child(8n+8) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }
}

@media (min-width: 1200px) {
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-lg-12:nth-child(even) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-lg-6:nth-child(4n+3) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-lg-6:nth-child(4n+4) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-lg-4:nth-child(6n+4) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-lg-4:nth-child(6n+5) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-lg-4:nth-child(6n+6) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-12:nth-child(even) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-6:nth-child(4n+3) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-6:nth-child(4n+4) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-4:nth-child(6n+4) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-4:nth-child(6n+5) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-4:nth-child(6n+6) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-3:nth-child(8n+5) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-3:nth-child(8n+6) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-3:nth-child(8n+7) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-sm-3:nth-child(8n+8) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }
}


@media (max-width: 768px) {


    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-12:nth-child(even) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-6:nth-child(4n+3) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-6:nth-child(4n+4) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-4:nth-child(4n+4) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-4:nth-child(4n+5) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-4:nth-child(4n+6) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }

    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-3:nth-child(8n+5) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-3:nth-child(8n+6) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-3:nth-child(8n+7) .rt-el-content-wrapper-flex,
    .rt-tpg-container .rt-row.grid-layout2 .rt-col-xs-3:nth-child(8n+8) .rt-el-content-wrapper-flex {
        flex-direction: row-reverse;
    }
}

.rt-tpg-container .grid-layout6 .rt-holder .tpg-el-image-wrap,
.rt-tpg-container .grid-layout5 .rt-holder .tpg-el-image-wrap,
.rt-tpg-container .grid-layout4 .rt-holder .tpg-el-image-wrap {
    margin: 0 0 15px;
}


/*Category color*/

.rt-tpg-container .list-layout4 .tpg-separate-category a,
.rt-tpg-container .grid-layout5 .tpg-separate-category a,
.rt-tpg-container .grid-layout4 .cat-over-image a {
    background-color: #ffaf25;
    color: #ffffff;
    font-size: 12px;
    padding: 0 8px;
    margin-right: 5px;
    line-height: 1;
    display: inline-flex;
    min-height: 24px;
    align-items: center;
    justify-content: center;
}

.rt-tpg-container .list-layout4 .tpg-separate-category a:hover,
.rt-tpg-container .grid-layout5 .tpg-separate-category a:hover,
.rt-tpg-container .grid-layout4 .cat-over-image a:hover {
    background: #e59100;
}

.rt-tpg-container .list-layout4 .tpg-separate-category.style3 a:hover::after,
.rt-tpg-container .grid-layout5 .tpg-separate-category.style3 a:hover::after,
.rt-tpg-container .grid-layout4 .cat-over-image a:hover::after {
    border-top-color: #e59100;
}

.rt-tpg-container .grid-layout5 .tpg-separate-category .rt-separator,
.rt-tpg-container .grid-layout4 .cat-over-image .rt-separator {
    display: none;
}



/*********************************
# Grid Layout 1
**********************************/

.rt-tpg-container .grid-layout1 .rt-holder,
.rt-tpg-container .grid-layout3 .rt-holder {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

/*********************************
# Grid Layout 2
**********************************/

.tpg-el-main-wrapper .grid-layout2 .rt-holder .rt-el-content-wrapper-flex {
    padding: 0;
    height: 100%;
}

.rt-tpg-container .grid-layout2 .rt-holder .tpg-el-image-wrap {
    margin: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.rt-tpg-container .grid-layout2 .rt-holder .post-right-content {
    padding: 15px;
    flex-grow: 1;
    flex: 0 0 50%;
    max-width: 50%;
}

.tpg-el-main-wrapper .grid-layout2 [class*='rt-col'] {
    padding: 0;
}

@media (max-width: 500px) {
    .tpg-post-order-reverse .rt-tpg-container .rt-row .rt-col-xs-12:nth-child(even) .rt-el-content-wrapper-flex,
    .tpg-el-main-wrapper .grid-layout2 .rt-el-content-wrapper-flex {
        display: block;
    }

    .rt-tpg-container .grid-layout2 .rt-holder .post-right-content,
    .rt-tpg-container .grid-layout2 .rt-holder .tpg-el-image-wrap {
        margin: 0;
        flex: inherit;
        max-width: 100%;
    }

    .tpg-el-main-wrapper .grid-layout2 [class*='rt-col'] {
        margin-bottom: 15px;
    }
}


/*********************************
# Grid Layout 3
**********************************/

.rt-tpg-container .grid-layout3 .rt-holder {
    overflow: hidden;
    border-radius: 4px;
}

.meta_position_default .tpg-el-main-wrapper .grid-layout3 .rt-holder .rt-el-post-meta {
    order: 12;
    padding-top: 20px;
    position: relative;
    padding-bottom: 5px;
}

.meta_position_default .tpg-el-main-wrapper .grid-layout3 .rt-holder .rt-el-post-meta::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    right: -50px;
    width: calc(100% + 100px);
    height: 1px;
    background: #dddddd;
}

/*********************************
# Grid Layout 4
**********************************/


.rt-tpg-container .grid-layout4 .entry-title-wrapper .entry-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

.tpg-el-main-wrapper .grid-layout4 .tpg-el-image-wrap img {
    width: 100%;
    height: 230px;
}

.rt-tpg-container .grid-layout4 .rt-holder .rt-detail {
    padding: 0;
}


.tpg-is-author-icon-default .grid-layout4 .post-meta-tags span.author i,
.tpg-is-author-icon-default .grid-layout4 .post-meta-tags span.author img {
    display: none;
}


/*********************************
# List Layout 1
**********************************/

.tpg-el-main-wrapper .list-layout-wrapper .rt-holder .rt-el-content-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 100%;
}

.tpg-el-main-wrapper.list-layout1-main .list-layout-wrapper .rt-holder .rt-el-content-wrapper {
    align-items: flex-start;
}


.tpg-el-main-wrapper.list-layout1-2-main .list-layout1 .rt-holder .rt-el-content-wrapper {
    flex-direction: row-reverse;
}

.rt-tpg-container .list-layout1 .rt-holder .tpg-el-image-wrap {
    margin: 0 30px 0 0;
    flex: 0 0 260px;
}

@media (max-width: 991px) {
    .rt-tpg-container .list-layout1 .rt-holder .tpg-el-image-wrap {
        flex: 0 0 200px;
    }
}
@media (max-width: 599px) {
    .tpg-el-main-wrapper.list-layout1-main .list-layout-wrapper .rt-holder .rt-el-content-wrapper {
        display: block;
    }

    .rt-tpg-container .list-layout1 .rt-holder .tpg-el-image-wrap {
        margin: 0 0 15px;
    }
}

.tpg-el-main-wrapper.list-layout1-2-main .list-layout1 .rt-holder .tpg-el-image-wrap {
    margin: 0 0 0 30px;
}

.rt-tpg-container .list-layout1 .rt-detail .read-more a,
.rt-tpg-container .list-layout2 .rt-detail .read-more a,
.rt-tpg-container .list-layout3 .rt-detail .read-more a {
    color: #fff;
    background-color: var(--tpg-primary-color, #0d6efd);
    border-color: var(--tpg-primary-color, #0d6efd);
}

.rt-tpg-container .list-layout4 .rt-detail .read-more a:hover,
.rt-tpg-container .list-layout1 .rt-detail .read-more a:hover,
.rt-tpg-container .list-layout2 .rt-detail .read-more a:hover,
.rt-tpg-container .list-layout3 .rt-detail .read-more a:hover {
    color: #fff;
    background-color: var(--tpg-secondary-color, #0654c4);
    border-color: var(--tpg-secondary-color, #0654c4);
}

.tags-visibility-default .list-layout1 .post-tags-links,
.tags-visibility-default .list-layout1 .post-tags-links + .separator {
    display: none;
}

/*********************************
# List Layout 2 (offset)
**********************************/

/*List Offset common */
.rt-tpg-container .list-layout-wrapper .offset-right .rt-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

.tpg-el-main-wrapper .list-layout2 .offset-left .tpg-el-image-wrap {
    height: 300px;
}

.tpg-el-main-wrapper .list-layout-wrapper .offset-left .rt-holder .rt-el-content-wrapper {
    flex-direction: column;
}

.rt-tpg-container .list-layout-wrapper .offset-left .rt-holder .tpg-el-image-wrap {
    margin: 0 0 15px;
    flex: inherit;
}

.tpg-el-main-wrapper .list-layout-wrapper .offset-right .tpg-el-image-wrap {
    height: 100px;
}

.rt-tpg-container .list-layout-wrapper .offset-right .entry-title-wrapper .entry-title {
    font-size: 20px;
}

.tpg-el-main-wrapper.list-layout5-2-main .list-layout5 .rt-holder .rt-el-content-wrapper,
.tpg-el-main-wrapper.list-layout2-2-main .list-layout2,
.tpg-el-main-wrapper.list-layout3-2-main .list-layout3 {
    flex-direction: row-reverse;
}


.tpg-el-main-wrapper .list-layout-wrapper.list-layout2 .rt-holder .rt-el-content-wrapper {
    align-items: flex-start;
}

/*End List Offset common */

.tags-visibility-default .list-layout2 .post-tags-links,
.tags-visibility-default .list-layout2 .post-tags-links + .separator {
    display: none;
}

.rt-tpg-container .list-layout2 .offset-right .rt-holder .tpg-el-image-wrap {
    margin: 0 15px 0 0;
    flex: 0 0 107px;
    max-width: 107px;
}

/*********************************
# List Layout 3 (offset)
**********************************/

.tpg-el-main-wrapper .list-layout3 .offset-right .rt-holder .tpg-el-excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tpg-el-main-wrapper .list-layout3 [class*='rt-col'] {
    padding-bottom: 15px;
}

.tpg-el-main-wrapper .list-layout3 .offset-left .tpg-el-image-wrap {
    height: 390px;
}

.rt-tpg-container .list-layout3 .offset-right .rt-holder .tpg-el-image-wrap {
    margin: 0 15px 0 0;
    flex: 0 0 140px;
    max-width: 140px;
    height: 110px;
}


/*********************************
# List Layout 4
**********************************/

.tpg-el-main-wrapper .list-layout-wrapper.list-layout4 .rt-el-content-wrapper {
    align-items: inherit;
}

.rt-tpg-container .list-layout4 .post-right-content,
.tpg-el-main-wrapper .list-layout4 .rt-holder .tpg-el-image-wrap {
    margin: 0;
    flex: 0 0 50%;
}

@media (min-width: 768px) {
    .tpg-el-main-wrapper .list-layout4 .rt-holder .tpg-el-image-wrap {
        height: 400px;
    }
}

.rt-tpg-container .list-layout4 .post-right-content {
    margin: 0;
    padding: 30px 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.rt-tpg-container .list-layout4 .entry-title-wrapper .categories-links .rt-separator {
    display: none;
}

.tpg-el-main-wrapper .list-layout4 [class*='rt-col'] {
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .tpg-el-main-wrapper .list-layout4 [class*='rt-col']:nth-child(even) .rt-holder .rt-el-content-wrapper {
        flex-direction: row-reverse;
    }
}

@media (max-width: 768px) {
    .tpg-el-main-wrapper .list-layout4 .rt-holder .tpg-el-image-wrap {
        flex: 0 0 150px;
        height: 120px;
    }

    .rt-tpg-container .list-layout4 .post-right-content {
        flex: inherit;
        flex-grow: 1;
        text-align: left;
        padding: 0 0 0 20px;
    }

    .tpg-el-main-wrapper .list-layout-wrapper.list-layout4 .rt-holder .rt-el-content-wrapper {
        align-items: flex-start !important;
    }

    .tpg-el-main-wrapper .list-layout4 [class*='rt-col'] {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .tpg-el-main-wrapper .list-layout4 .rt-holder .tpg-el-image-wrap {
        flex: 0 0 100px;
        height: 100px;
    }
}

/*********************************
# List Layout 5
**********************************/

.rt-tpg-container .list-layout5 .post-right-content {
    padding-left: 20px;
    display: block;
    overflow: hidden;
}

.tpg-el-main-wrapper.list-layout5-2-main .list-layout5 .post-right-content {
    padding-left: 0;
    padding-right: 20px;
}

.rt-tpg-container .list-layout5 .rt-holder .rt-img-holder {
    border-radius: 50%;
    flex: 0 0 100px;
    height: 100px;
    margin-top: 8px;
}

.rt-tpg-container .list-layout5 .entry-title-wrapper .entry-title {
    font-size: 18px;
}

.tags-visibility-default .list-layout5 .rt-el-post-meta {
    color: #A5A6AA;
    font-size: 14px;
}

.list-layout5 .entry-title-wrapper .tpg-separate-category .categories-links {
    font-size: 14px;
    color: #7A7E83;
    font-weight: 500;
}

.list-layout5 .entry-title-wrapper .tpg-separate-category .categories-links a {
    color: inherit;
}

.tpg-el-main-wrapper .list-layout5 [class*='rt-col'] {
    padding-bottom: 20px;
}

.rt-tpg-container .list-layout5 .post-right-content {
    flex: 1;
}


/*********************************
# Grid Hover Layout 1
**********************************/

/*Grid Hover common*/

.grid_hover_layout_wrapper .rt-row-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rt-tpg-container .rt-grid-hover-item .entry-title-wrapper .entry-title {
    font-size: 20px;
    line-height: 1.4;
}

.tpg-el-main-wrapper .rt-grid-hover-item .rt-holder .rt-el-content-wrapper {
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content {
    position: absolute;
    padding: 30px 30px 15px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 1.2s;
    z-index: 1;
    min-height: 56px;
}


.rt-tpg-container .rt-grid-hover-item .rt-holder:hover .grid-hover-content {
    padding-bottom: 15px;
}


.rt-tpg-container .rt-grid-hover-item .rt-holder:hover .grid-hover-content > div:last-of-type {
    margin-bottom: 0;
}

.rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:before,
.rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    transition: 0.4s ease-in-out;
}

.rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:after {
    background-color: rgba(0, 0, 0, 0.5);
}

.rt-tpg-container .rt-grid-hover-item .rt-holder:hover .grid-hover-content:before,
.rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:after {
    opacity: 0;
    visibility: hidden;
}

.rt-tpg-container .rt-grid-hover-item .rt-holder:hover .grid-hover-content:after {
    opacity: 1;
    visibility: visible;
}

.rt-tpg-container .rt-grid-hover-item .entry-title-wrapper .entry-title,
.rt-tpg-container .rt-grid-hover-item .rt-el-post-meta,
.rt-tpg-container .rt-grid-hover-item .rt-el-post-meta a,
.rt-tpg-container .rt-grid-hover-item .rt-holder .tpg-el-excerpt,
.rt-tpg-container .rt-grid-hover-item .rt-detail .read-more a {
    color: #ffffff;
}

.rt-tpg-container .rt-grid-hover-item a:hover {
    color: var(--tpg-primary-color, #0d6efd);
}

.rt-tpg-container .rt-grid-hover-item .rt-detail .read-more a {
    border-color: rgba(255, 255, 255, .7);
}

.rt-tpg-container .rt-grid-hover-item .rt-holder .tpg-el-image-wrap {
    margin: 0;
}

.rt-grid-hover-item .tpg-el-image-wrap {
    height: 100%;
    background-color: #e4eaf1;
}

/*Hover animation
=====================*/


.grid-hover-overlay-type-fadein-on-hover .rt-tpg-container .rt-holder .grid-hover-content .entry-title-wrapper .entry-title::before {
    width: 0;
    transition: 0.5s ease-in-out;
}

.grid-hover-overlay-type-fadein-on-hover .rt-tpg-container .rt-holder:hover .grid-hover-content .entry-title-wrapper .entry-title::before {
    width: 50%;
}

/*Fade In-Out CSS*/
.grid-hover-overlay-type-fadein-on-hover .rt-tpg-container .rt-holder .grid-hover-content {
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.grid-hover-overlay-type-fadein-on-hover .rt-tpg-container .rt-holder:hover .grid-hover-content {
    opacity: 1;
}

/*Fade In-Out CSS*/

.grid-hover-overlay-type-fadeout-on-hover .rt-tpg-container .rt-holder:hover .grid-hover-content {
    opacity: 0;
}

/*Slide In-Out CSS*/
.grid-hover-overlay-type-slidein-on-hover .rt-tpg-container .rt-holder .grid-hover-content {
    left: -100%;
    transition: 0.5s ease-in-out;
}

.grid-hover-overlay-type-slidein-on-hover .rt-tpg-container .rt-holder:hover .grid-hover-content {
    left: 0;
}

.grid-hover-overlay-type-slideout-on-hover .rt-tpg-container .rt-holder:hover .grid-hover-content {
    left: 100%;
}


/*Flip In-Out CSS*/

.grid-hover-overlay-type-slidein-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:before,
.grid-hover-overlay-type-slideout-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:before {
    transition: 0.5s ease-in-out;
}

.grid-hover-overlay-type-slidein-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:before,
.grid-hover-overlay-type-slideout-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:before,
.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:before,
.grid-hover-overlay-type-flipout-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:before {
    visibility: visible;
    opacity: 1;
    background: var(--tpg-primary-color, #0d6efd);
}

.grid-hover-overlay-type-slidein-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:after,
.grid-hover-overlay-type-slideout-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:after,
.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:after,
.grid-hover-overlay-type-flipout-on-hover .rt-tpg-container .rt-grid-hover-item .rt-holder .grid-hover-content:after {
    content: none;
}

.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper .grid-hover-content,
.grid-hover-overlay-type-flipout-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper .grid-hover-content {
    height: 100%;
}

.grid-hover-overlay-type-flipout-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper .grid-hover-content,
.grid-hover-overlay-type-flipout-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper .rt-img-holder,
.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper .grid-hover-content,
.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-holder .tpg-el-image-wrap {
    transition: all .5s;
}

.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper:hover .rt-img-holder img,
.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper:hover .rt-img-holder img {
    transform: none !important;
}


/*ZoomIn and ZommOut css*/
.grid-hover-overlay-type-zoomin-on-hover .rt-tpg-container .rt-holder .grid-hover-content,
.grid-hover-overlay-type-zoomout-on-hover .rt-tpg-container .rt-holder .grid-hover-content {
    transition: 0.5s ease-in-out;
}


.grid-hover-overlay-type-zoomout-on-hover .rt-tpg-container .rt-holder:hover .grid-hover-content,
.grid-hover-overlay-type-zoomin-on-hover .rt-tpg-container .rt-holder .grid-hover-content {
    opacity: 0;
    transform: scale(0);
}

.grid-hover-overlay-type-zoomin-on-hover .rt-tpg-container .rt-holder:hover .grid-hover-content {
    opacity: 1;
    transform: scale(1);
}

.grid-hover-overlay-type-zoominall-on-hover .rt-tpg-container .rt-holder .grid-hover-content *,
.grid-hover-overlay-type-zoomoutall-on-hover .rt-tpg-container .rt-holder .grid-hover-content * {
    transition: 0.4s ease-in-out !important;
}

.grid-hover-overlay-type-zoomoutall-on-hover .rt-tpg-container .rt-holder:hover .grid-hover-content *,
.grid-hover-overlay-type-zoominall-on-hover .rt-tpg-container .rt-holder .grid-hover-content * {
    opacity: 0;
    transform: scale(0);
}

.grid-hover-overlay-type-zoominall-on-hover .rt-tpg-container .rt-holder:hover .grid-hover-content * {
    opacity: 1;
    transform: scale(1);
}


/*end zoomIn-Out*/
.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper .grid-hover-content {
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    opacity: 0;
}

.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper:hover .grid-hover-content {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    backface-visibility: visible;
    opacity: 1;
}

.grid-hover-overlay-type-flipin-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper:hover .rt-img-holder {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
}

.grid-hover-overlay-type-flipout-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper:hover .grid-hover-content {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
}

.grid-hover-overlay-type-flipout-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper .rt-img-holder {
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    opacity: 0;
}

.grid-hover-overlay-type-flipout-on-hover .rt-tpg-container .rt-holder .rt-el-content-wrapper:hover .rt-img-holder {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    backface-visibility: visible;
    opacity: 1;
}

/*End hover animation*/

/*Show hide elements
=====================*/

.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder .rt-el-post-meta,
.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder .tpg-el-excerpt,
.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder .post-footer,
.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder .rt-tpg-social-share {
    max-height: 0;
    margin-bottom: 0;
    transition: .6s;
    opacity: 0;
    visibility: hidden;
}

.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder:hover .rt-el-post-meta,
.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder:hover .tpg-el-excerpt,
.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder:hover .post-footer,
.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder:hover .rt-tpg-social-share {
    margin-bottom: 15px;
}

.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder .rt-el-post-meta {
    transition: all 0.6s, opacity 0.6s;
}

.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder .tpg-el-excerpt {
    transition: all 0.6s, opacity 0.5s;
}

.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder .post-footer {
    transition: all 0.6s, opacity 0.4s;
}

.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder .rt-tpg-social-share {
    transition: all 0.6s, opacity 0.3s;
}


.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder:hover .rt-el-post-meta {
    max-height: var(--tpg-meta-height, 80px);
    opacity: 1;
    visibility: visible;
    margin-bottom: 15px;
}

/*.rt-tpg-container .grid_hover_layout_wrapper .offset-right .rt-grid-hover-item .rt-holder:hover .rt-el-post-meta {*/
/*    margin-bottom: 0;*/
/*}*/

.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder:hover .tpg-el-excerpt {
    max-height: var(--tpg-excerpt-height, 140px);
    opacity: 1;
    visibility: visible;
}

.rt-tpg-container .grid_hover_layout_wrapper .rt-holder:hover .rt-tpg-social-share {
    max-height: var(--tpg-share-height, 50px);
    margin-bottom: 15px;
    opacity: 1;
    visibility: visible;
}

.rt-tpg-container .grid_hover_layout_wrapper .rt-grid-hover-item .rt-holder:hover .post-footer {
    max-height: var(--tpg-footer-height, 50px);
    opacity: 1;
    visibility: visible;
}


.rt-tpg-container .grid_hover_layout_wrapper.grid_hover-layout5 .rt-grid-hover-item .rt-holder .rt-el-post-meta,
.rt-tpg-container .grid_hover_layout_wrapper.grid_hover-layout3 .rt-grid-hover-item .rt-holder .rt-el-post-meta,
.rt-tpg-container .grid_hover_layout_wrapper.grid_hover-layout3 .rt-grid-hover-item .rt-holder .tpg-el-excerpt,
.rt-tpg-container .grid_hover_layout_wrapper.grid_hover-layout3 .rt-grid-hover-item .rt-holder .post-footer,
.rt-tpg-container .grid_hover_layout_wrapper.grid_hover-layout3 .rt-grid-hover-item .rt-holder .rt-tpg-social-share {
    max-height: inherit;
    opacity: 1;
    visibility: visible;
}


/*End Grid Hover common*/


.meta-visibility-default .rt-tpg-container .grid_hover-layout1 .rt-grid-hover-item .rt-holder .rt-el-post-meta {
    max-height: inherit;
}

.rt-tpg-container .grid_hover-layout1 .rt-holder .tpg-el-image-wrap {
    height: 300px;
}

.grid-hover-overlay-height-full .rt-tpg-container .rt-content-loader .rt-grid-hover-item .rt-holder .grid-hover-content {
    min-height: 100%;
}

.hover-overlay-height-full .rt-tpg-container .rt-content-loader .rt-grid-hover-item .rt-holder:hover .grid-hover-content,
.hover-overlay-height-default .rt-tpg-container .grid_hover-layout1 .rt-grid-hover-item .rt-holder:hover .grid-hover-content {
    min-height: 100%;
    transition: .5s;
}

.rt-tpg-container .grid_hover-layout1 .entry-title-wrapper .entry-title {
    font-size: 20px;
    line-height: 1.4;
}


/*********************************
# Grid Hover Layout 2
**********************************/

.meta-visibility-default .rt-tpg-container .grid_hover-layout2 .rt-grid-hover-item .rt-holder .rt-el-post-meta {
    max-height: inherit;
    margin-bottom: 7px;
}

.rt-tpg-container .grid_hover-layout2 .rt-holder .tpg-el-image-wrap img {
    height: 300px;
}

.rt-tpg-container .grid_hover-layout2 .rt-grid-hover-item .rt-holder .tpg-el-excerpt,
.rt-tpg-container .grid_hover-layout2 .rt-grid-hover-item .rt-holder .post-footer,
.tpg-el-main-wrapper .grid_hover-layout2 .rt-holder .rt-tpg-social-share {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0;
    transition: 0.6s;
}

.tpg-el-main-wrapper .grid_hover-layout2 .rt-holder:hover .rt-tpg-social-share {
    max-height: 50px;
    margin-bottom: 15px
}

.rt-tpg-container .grid_hover-layout2 .rt-grid-hover-item .rt-holder:hover .post-footer {
    max-height: 50px;
}

.hover-overlay-height-full .rt-tpg-container .grid_hover-layout2 .rt-grid-hover-item .rt-holder:hover .grid-hover-content {
    min-height: 100%;
}

.rt-tpg-container .grid_hover-layout2 .rt-holder .grid-hover-content {
    padding: 20px;
    justify-content: center;
    text-align: center;
    margin: 15px;
    width: calc(100% - 30px);
}


/*********************************
# Grid Hover Layout 3
**********************************/

.rt-tpg-container .grid_hover-layout3 .tpg-el-image-wrap {
    height: 300px;
}

.rt-tpg-container .grid_hover-layout3 .rt-grid-hover-item .rt-holder .grid-hover-content {
    min-height: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;
}


/*Title Border style */

.tpg-title-border-show .rt-tpg-container .rt-holder .entry-title-wrapper .entry-title {
    position: relative;
    margin-bottom: 20px;
}

.tpg-title-border-show .rt-tpg-container .rt-holder .entry-title-wrapper .entry-title::before {
    content: "";
    position: absolute;
    bottom: -16px;
    height: 2px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    transition: 0.4s;
}

.tpg-title-border-show.title-alignment-justify .rt-tpg-container .rt-holder .entry-title-wrapper .entry-title::before,
.tpg-title-border-show.title-alignment-left .rt-tpg-container .rt-holder .entry-title-wrapper .entry-title::before,
.tpg-title-border-show.tpg-wrapper-align-left .rt-tpg-container .rt-holder .entry-title-wrapper .entry-title::before {
    left: 0;
    transform: none;
}

.tpg-title-border-show.title-alignment-right .rt-tpg-container .rt-holder .entry-title-wrapper .entry-title::before,
.tpg-title-border-show.tpg-wrapper-align-right .rt-tpg-container .rt-holder .entry-title-wrapper .entry-title::before {
    right: 0;
    transform: none;
}


/*End Title Border style */

/***********Other CSS*************/

/*Astara Theme Css*/
.elementor-template-full-width .site-content .ast-container {
    max-width: 100%;
    width: 100%;
    padding: 0;
}

/*ACF Style*/

.tpg-el-main-wrapper .tgp-cf-field-label {
    float: none;
    display: inline-block;
}

.tpg-el-main-wrapper .tpg-cf-fields {
    display: block;
}

.tpg-el-main-wrapper .tgp-cf-field-value {
    display: inline;
}

.tpg-el-main-wrapper .tpg-cf-group-title {
    color: inherit;
}

.tpg-acf-align-left .rt-tpg-container .acf-custom-field-wrap {
    text-align: left;
}

.grid-layout6 .acf-custom-field-wrap,
.list-layout4 .acf-custom-field-wrap,
.tpg-acf-align-center .rt-tpg-container .acf-custom-field-wrap {
    text-align: center;
}

.tpg-acf-align-right .rt-tpg-container .acf-custom-field-wrap {
    text-align: right;
}